$color-primary: #FF3800;
$color-secondary: #141414;
$color-text-primary: #EDE8E8;
$color-not-active: #EDE8E8;



// -------------------------------------------------------------------------------------


$margin-bottom: 4rem